body {
    font-family: 'Roboto';
}

a {
    color: #375A28;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    background-color: #607D37;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FDFDFD;
}

.header-links {
    margin-right: 40px;
}

.header a {
    color: #FDFDFD;
    margin-left: 20px;
}

.header-image {
    align-self: start;
    margin-left: 40px;
}

.header-image a{
    margin: 0;
}

.header-image img {
    width: 100px;
    width: 100px;
}

.main-content {
    margin: 0;
    padding: 0;
}

.atown-home-latest {
    background-color: #90AD56;
    padding: 40px;
    padding-top: 60px;
}

.atown-home-latest .post-header-link, .atown-home-latest .post-content {
    color: #FDFDFD;
}

.post {
    padding: 40px;
    border-bottom: 1px solid #EEE;
}

.post-header-link {
    color: #607D37;
}

.post-meta p{
    margin-top: 5px;
    margin-bottom: 15px;
    color: #5a5a5a;
}

.post-links{
    display: flex;
    flex-wrap: wrap;
}

.post-links a{
    width: 125px;
}

.post-links img{
    height: 30px;
}

.post-header-link {
    font-size: 1.5em;
}

.post-summary {
    margin-top: 20px;
}

.post-content__header-container {
    display: flex;
}

.post-content__img{
    width: 30%;
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.post-content__img img {
    max-width: 100%;
}

@media (max-width: 830px) { 
    .post-content__img{
        display: none;
    }
}

.episodes .post-content__img {
    max-width: 130px;
    width: 20%;
    display: block;
}

.post-page {
    padding: 60px 40px 40px 40px;
}