.page-header {
    background-color:#FFF;
    background-image: none;
    color:#444;
    padding-bottom: 0px;
    padding-top: 0px;
}

.page-header .logo-container{
    margin: auto;
    height: 300px;
}

.page-header .project-tagline{
    margin-bottom: 0px;
    padding-bottom: 38px;
}

.page-header .home-links{
    margin-top: 10px;
    margin-bottom: 20px;
}

.page-header .home-links a{
    display: inline-block;
    width: 80px;
    color: #999;
}

.subpage-header{
    position: relative;
    background: #444;
    height: 70px;
    margin-bottom: 60px;
}

.subpage-header .logo-container{
    height: 100px;
    width: 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.subpage-header .home-links{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.subpage-header .home-links a{
    color: white;
    display: inline-block;
    width: 100px;
}

.subpage-header .home-links .spacer{
    display: inline-block;
    width: 130px;
    background-color: yellow;
}

.divider{
    border-top: solid 1px #eff0f1;
    margin: 30px 0px;
}

.posts .date{
    font-size: .7em;
    opacity: .60;
}

.post-content p{
    font-size: 0.9rem;
}